services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n_app
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_SECURE_COOKIE=false
    volumes:
      - n8n_data:/home/node/.n8n
    networks:
      - mcp_network

  mcp-server:
    image: mcp/n8n
    container_name: n8n_mcp
    restart: always
    networks:
      - mcp_network

volumes:
  n8n_data:

networks:
  mcp_network:
    driver: bridge